<section class="education">
  <h3 style="color: white;">Educación</h3>
  <div class="row g-3">
    <div class="col-md-6 col-sm-12">
      <div class="accordion" id="accordionExample" *ngFor="let educacion of educacion">
        <div class="accordion-item" *ngIf="educacion.id === 1">
            <h2 class="accordion-header" id="headingOne">
              <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
              >
              {{educacion.titulo}}
            </button>
          </h2>
          <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
          >
          <div class="accordion-body">
            <p>
              {{educacion.descripcion}}
            </p>
            <ul>Institución: {{educacion.institucion}}</ul>
            <ul>Período: {{educacion.periodo}}</ul>
          </div>
        </div>
        </div>
        <div class="accordion-item" *ngIf="educacion.id === 2">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              {{educacion.titulo}}
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                {{educacion.descripcion}}
              </p>
              <ul>Institución: {{educacion.institucion}}</ul>
              <ul>Período: {{educacion.periodo}}</ul>
            </div>
          </div>
        </div>
        <div class="accordion-item" *ngIf="educacion.id === 3">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              {{educacion.titulo}}
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                {{educacion.descripcion}}
              </p>
              <ul>Institución: {{educacion.institucion}}</ul>
              <ul>Período: {{educacion.periodo}}</ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="accordion" id="accordionExample1" *ngFor="let educacion of educacion">
        <div class="accordion-item" *ngIf="educacion.id === 52">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="true"
              aria-controls="collapseFour"
            >
              {{educacion.titulo}}
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse show"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample1"
          >
            <div class="accordion-body">
              <p>
                {{educacion.descripcion}}
              </p>
              <ul>Institución: {{educacion.institucion}}</ul>
              <ul>Período: {{educacion.periodo}}</ul>
            </div>
          </div>
        </div>
        <div class="accordion-item" *ngIf="educacion.id === 53">
          <h2 class="accordion-header" id="headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
            {{educacion.titulo}}
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="headingFive"
            data-bs-parent="#accordionExample1"
          >
            <div class="accordion-body">
              <p>
                {{educacion.descripcion}}
              </p>
              <ul>Institución: {{educacion.institucion}}</ul>
              <ul>Período: {{educacion.periodo}}</ul>
            </div>
          </div>
        </div>
        <div class="accordion-item" *ngIf="educacion.id === 54">
          <h2 class="accordion-header" id="headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
            {{educacion.titulo}}
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample1"
          >
            <div class="accordion-body">
              <p>
                {{educacion.descripcion}}
              </p>
              <ul>Institución: {{educacion.institucion}}</ul>
              <ul>Período: {{educacion.periodo}}</ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
