<section id="about">
  <div class="row" id="about-cards">
    <div class="col-lg-4 col-sm-6 col-12" id="img-container">
      <div class="card">
        <img src="\assets\fondo-azul.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12" id="about-text">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Personal Data</h4>
          <li *ngFor="let personas of personas">
            <ul>Nombre: {{personas.nombre}}, Apellido: {{personas.apellido}}</ul>
            <ul>Edad: {{personas.edad}}</ul>
            <ul>Lorem ipsum dolor sit amet consectetur adipisicing elit.</ul>
            <ul>Lorem ipsum dolor sit amet consectetur adipisicing elit.</ul>
            <ul>Lorem ipsum dolor sit amet consectetur adipisicing elit.</ul>
          </li>
        </div>
      </div>
    </div>
  </div>
</section>

