<section class="projects">
  <h2>Proyectos</h2>

  <div class="row g-3">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card h-100">
        <img
          src="\assets\banner-ok-argentina-programa - copia.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Mi Portfolio Web</h5>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad
            magni praesentium laboriosam quas, temporibus iste blanditiis quasi!
            Magni, nisi. Libero incidunt expedita recusandae aliquam explicabo
            quas cupiditate quod dolores.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card h-100">
        <img
          src="\assets\banner-ok-argentina-programa - copia.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">PROYECTO 2</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Dignissimos velit at iste corporis illum blanditiis repudiandae
            iure, cupiditate natus, voluptatem nemo ullam maxime assumenda nam
            enim necessitatibus? Commodi, rem consequuntur!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card h-100">
        <img
          src="\assets\banner-ok-argentina-programa - copia.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">PROYECTO 3</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            similique quasi dolorum praesentium commodi itaque. Quasi ut
            aspernatur voluptas in fugit neque non, dolorum optio doloribus
            possimus, corporis praesentium laboriosam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
