<section class="projects">
  <h2 style="color: white;">Proyectos</h2>

  <div class="row g-3">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card h-100">
        <img
          src="\assets\banner-ok-argentina-programa - copia.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body" *ngFor="let proyectos of proyectos">
          <h5 class="card-title">{{proyectos.nombre}}</h5>
          <p class="card-text">
            {{proyectos.descripcion}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card h-100">
        <img
          src="\assets\banner-ok-argentina-programa - copia.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">PROYECTO 2</h5>
          <p class="card-text">
           Otro proyecto...
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card h-100">
        <img
          src="\assets\banner-ok-argentina-programa - copia.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">PROYECTO 3</h5>
          <p class="card-text">
            Otro proyecto...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
